/* .right {
  
  position: absolute;
  font-size: 250%;
  margin-top: 15%;
  width: 50%;
  padding: 10px; */
/* background-image: url("./efe-kurnaz-RnCPiXixooY-unsplash.jpg"); The image used
} */
.right {
  padding: 170px 0;
  text-align: center;
  font-size: 250%;
}
